{%- set external_urls = {
  'github': 'https://github.com/pytorch/pytorch',
  'github_issues': 'https://github.com/pytorch/pytorch/issues',
  'contributing': 'https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md',
  'docs': 'https://pytorch.org/docs/stable/index.html',
  'slack': 'https://pytorch.slack.com',
  'discuss': 'https://discuss.pytorch.org',
  'tutorials': 'https://bittensor.com',
  'home': 'https://bittensor.com',
}
-%}